# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc

# Environment Variables
.env

# Chroma Database
chroma_db/

# Streamlit Cache
.streamlit/

# MacOS
.DS_Store

# VS Code
.vscode/

# Data Files
data/*.pdf